<div id="intro">
  <h2><a href="./">Python by Example</a></h2>
  <p>
    <a href="https://www.python.org/">Python</a> is a general-purpose interpreted, interactive, object-oriented, and high-level programming language.
  </p>

  <p>
    <em>Python by Example</em> is a hands-on introduction to Python using annotated example programs. Check out the <a href="/hello-world">first example</a> or browse the full list below.
  </p>

  <p class="footer">
    by <a href="https://twitter.com/AnshulG8">@AnshulG8</a> | <a href="mailto:anshul@anshulgarg.me">Feedback</a> | <a href="https://github.com/anshulg8">Source</a> | <a href="https://github.com/mmcgrana/gobyexample#license">License</a>
  </p>
</div>