<div id="intro">
  <h2><a href="./">Python by Example</a></h2>
  <p>
    <a href="https://www.python.org/">Python</a> is a general-purpose interpreted, interactive, object-oriented, and high-level programming language.
  </p>

  <p>
    <em>Python by Example</em> is a hands-on introduction to Python using annotated example programs. Check out the <a href="/hello-world">first example</a> or browse the full list below.
  </p>

  <ul>
    <li><a href="hello-world">Hello World</a></li>
    <li><a href="values">Values</a></li>
    <li><a href="variables">Variables</a></li>
    <li><a href="constants">Constants</a></li>
    <li><a href="comments">Comments</a></li>
    <li><a href="numbers-and-math">Numbers and Math</a></li>
    <li><a href="for">For</a></li>
    <li><a href="if-else">If/Else</a></li>
    <li><a href="switch">Switch</a></li>
    <li><a href="arrays">Arrays</a></li>
    <li><a href="slices">Slices</a></li>
    <li><a href="maps">Maps</a></li>
    <li><a href="range">Range</a></li>
    <li><a href="functions">Functions</a></li>
    <li><a href="multiple-return-values">Multiple Return Values</a></li>
    <li><a href="variadic-functions">Variadic Functions</a></li>
    <li><a href="closures">Closures</a></li>
    <li><a href="recursion">Recursion</a></li>
    <li><a href="pointers">Pointers</a></li>
    <li><a href="structs">Structs</a></li>
    <li><a href="methods">Methods</a></li>
    <li><a href="sets">Sets</a></li>
  </ul>
  <p class="footer">
    by <a href="https://twitter.com/AnshulG8">@AnshulG8</a> | <a href="mailto:anshul@anshulgarg.me">Feedback</a> | <a href="https://github.com/anshulg8">Source</a> | <a href="https://github.com/mmcgrana/gobyexample#license">License</a>
  </p>
</div>
