<% provide(:title, "Home") %>
<div id="intro">
  <h2><a href="/">Python by Example</a></h2>
  <p>
    <a href="https://www.python.org/">Python</a> is a general-purpose interpreted, interactive, object-oriented, and high-level programming language.
  </p>

  <p>
    <em>Python by Example</em> is a hands-on introduction to Python using annotated example programs. Check out the <a href="#">first example</a> or browse the full list below.
  </p>

  <p>
    One of the things that works for me when it comes to learning anything is - doing it, that's why this tutorial is specifically focussed on examples rather than theory.
  </p>

  <p>
    This tutorial is designed for those who need to learn Python programming language from scratch. And the best thing about this tutorial is that there is no prerequisite, however basic understanding of any of the programming languages is a plus.
  </p>

	<ul>
		<% @posts.each do |post| %>
			<div class="post">
				<li><%= link_to post.title, post %></li>
			</div>
		<% end %>
	</ul>

  <p class="footer">
    <a href="https://anshulgarg.me/contact" target="_blank">Feedback</a> | <a href="https://github.com/anshulg8" target="_blank">Source</a> | <a href="#">License</a><br><br>

    <a href="https://twitter.com/AnshulG8" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @AnshulG8</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>

</div>