<!DOCTYPE html>
<html>
<head>
  <title>Tuts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- <div id="intro">
	<p class="footer">
	    by <a href="https://twitter.com/AnshulG8">@AnshulG8</a> | <a href="mailto:anshul@anshulgarg.me">Feedback</a> | <a href="https://github.com/anshulg8">Source</a> | <a href="https://github.com/mmcgrana/gobyexample#license">License</a>
	  </p>
</div> -->

</body>
</html>
